# Compiled source #
###################
*.o
*.so
*.pyc

# Logs and databases #
######################
*.log
*~
.coverage

# Generated documentation #
###########################
build/
/doc/source/*/generated/
/doc/source/tutorial/capsul_tutorial.ipynb
*.egg-info/
