# This is a basic workflow to help you get started with Actions

name: tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        # Run in all these versions of Python
        python-version: ["3.9", "3.10", "3.11"]
        
    steps:
      - uses: actions/checkout@v3

      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v4
        with:
          python-version: "${{ matrix.python-version }}"

      - name: "Install dependencies"
        run: |
          python -m pip install --upgrade pip
          pip install numpy
          pip install six>=1.13
          pip install traits
          pip install python-dateutil
          pip install nipype
          pip install git+https://github.com/populse/soma-base.git
          pip install git+https://github.com/populse/soma-workflow.git
          pip install git+https://github.com/populse/populse_db.git
          python setup.py install

      - name: "Run tests"
        run: |
          python -m capsul.test
  
  documentation:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: "Set up Python 3.9"
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"
      - name: "Install Python dependencies"
        run: |
          pip3 install setuptools
          pip3 install numpy 'six>=1.13' 'argparse' 'traits>=4.0' 'populse-db>=2.2' 'PyYAML' 'PyQt5'  # 'soma-base>=5.1' 'soma-workflow>=3.3'
          # for docs only
          sudo apt-get install -y pandoc graphviz
          pip install sphinx sphinx-gallery pandoc nbsphinx ipykernel
          python -m ipykernel install --user --name python3
          # while soma-base 5.1 is not in pip yet
          pushd ..
          git clone https://github.com/populse/soma-base.git
          cd soma-base
          python setup.py install
          popd
          # while soma-workflow 3.3 is not in pip yet
          pushd ..
          git clone https://github.com/populse/soma-workflow.git
          cd soma-workflow
          python setup.py install
          popd

      - name: "Build Sphinx Doc"
        run: |
          export PYTHONPATH=$PWD
          export CAPSUL_SOURCE_DIR=$PWD
          cd doc
          export SOMABASE_INTERSPHINX_URL=https://populse.github.io/soma-base
          export SOMAWORKFLOW_INTERSPHINX_URL=http://populse.github.io/soma-workflow
          export QT_API=pyqt5
          python -m sphinx -b html source build/html
          touch build/html/.nojekyll
          cd ..

      - name: "Deploy Github Pages"
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          # GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: gh-pages
          FOLDER: doc/build/html/
