{% extends 'layout.html' %}
{%block body %}
  <h1>Capsul engines</h1>

  <table>
  <thead>
    <th>Label</th>
    <th>Database</th>
    <th>Workers</th>
  </thead>
  <tbody id="engines_table">
  </tbody>
  </table>
{% endblock %}
{% block script %}
<script>
  function set_engines(engines_status) {
    let engines_table = document.getElementById("engines_table");
    engines_status.forEach(engine_status => {
      let tr = document.createElement("tr");
      
      let td = document.createElement("td");
      td.innerHTML = '<a href="{{base_url}}/engine/' + engine_status['label'] + '">' + engine_status["label"] + '</a>';
      tr.appendChild(td);

      td = document.createElement("td");
      if (engine_status['database_ready']) {
        td.innerHTML = '✅';
      } else {
        td.innerHTML = '⭕';
      }
      tr.appendChild(td);
      
      td = document.createElement('td');
      let count = engine_status['workers_count'];
      if ( count == undefined ) {
        if ( engine_status['database_ready'] ) {
          count = 0;
        } else {
          count = '❔';
        }
      }
      td.innerHTML = count
      tr.appendChild(td);

      engines_table.appendChild(tr);
    });
  }
  window.addEventListener("backend_ready", (event) => {
    backend.engines(set_engines);
  });
</script>
{% endblock %}
